<div class="sideMenu">
  <div class="sideLogoContainer">
    <div class="sideLogo logo" style="background-image: url({{gifGallery.logo | image({w:100, h: 100}) }});"></div>
    <div class="sideLogoMenu">

      <a href="/">
        {% include "pages/svg/gifs.svg" %}
      </a>

      <a href="/friends">
        {% include "pages/svg/friends.svg" %}
      </a>

      <a href="/videos">
        {% include "pages/svg/videos.svg" %}
      </a>

      <a href="/shop">
        {% include "pages/svg/shop.svg" %}
      </a>


    </div>
  </div>
</div>
