{% extends "pages/base.html" %}

{% block title %}Squid Ink{% endblock %}

{% block content %}
<div>
  <div class="logoContainer">
    <img src="{{gifGallery.logo | image({w:100, h: 100}) }}" class="logo">
  </div>
  <div>
    <div class="twelve columns">
      {% for gifs in gifGallery.gif %}
      <div class="row gif">
        <img src="{{ gifs.image.s3Key | image({w: 400, h: 400}) }}" class='eight columns offset-by-two'/>
      </div>
      {% endfor %}

    </div>
  </div>

</div>

{% endblock %}
