{% extends "pages/base.html" %}

{% block content %}

{% include "pages/navs/topNav.html" %}

{% include "pages/navs/sideNav.html" %}

<!--<div class="mbSide">-->
  <!--{% include "pages/svg/squidink_logo.svg" %}-->
<!--</div>-->

<div class="twelve columns">
  <div id="trigger"></div>

  {% for photos in photos.photoList %}
  <div class="row gif">
    <img data-src="{{ photos.photo.s3Key | image({w: 800, h: 800}) }}"
         class="eight columns offset-by-two lazyload"
         onerror="this.style.display='none'"
    />
  </div>
  {% endfor %}

</div>

{% endblock %}
