{% extends "pages/base.html" %}

{% block content %}

{% include "pages/navs/topNav.html" %}

{% include "pages/navs/sideNav.html" %}

<div class="mbSide">
  <img src="{{gifGallery.logo | image({w:50, h: 50}) }}" class="mbLogo">
</div>

  <div class="twelve columns">
    <div id="trigger"></div>

    <div class="video row">
      <iframe class="eight columns offset-by-two" src="https://player.vimeo.com/video/215105727" width="640" height="360" frameborder="0" title="The Lords Mind" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <div class="video row">
      <iframe class="eight columns offset-by-two" src="https://player.vimeo.com/video/232715525" width="360" height="360" frameborder="0" title="Summer Show" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

  </div>

{% endblock %}
