{% extends "pages/base.html" %}

{% block content %}

{% include "pages/navs/topNav.html" %}

{% include "pages/navs/sideNav.html" %}


<div id="trigger"></div>

<div class="videoCont">
  {% for html in videoHtml.repeater %}

  {{ html.blockCanvasHtml | safe }}

  {% endfor %}
</div>


<script>
  const setVideoClass = function() {
    const iframeList = document.getElementsByTagName('iframe');
    Array.from(iframeList).forEach(function(el){el.className += 'iframe'});
  };

  setVideoClass();
</script>


{% endblock %}
