@import './normalize.css';
@import './skeleton.css';
@import './topMenu.css';
@import './sideMenu.css';
@import './mobileMenu.css';

.gif {
  width: 100%;
  margin-bottom: 1rem;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  align-items: center;
}

.logo {
  align-self: center;
  cursor: pointer;
  height: 10rem;
  width: 10rem;
}

.scrollmagic-pin-spacer {
  z-index: -99;
}

.freePin {
  z-index: 99;
}

#trigger {
  position: absolute;
  top: 75%;
}

a {
  text-decoration: none;
}

svg:hover {
  fill: deeppink;
}

.mbSide > svg:hover {
  fill: black;
}

.videoCont p {
  display: none;
}

.oembed {
  height: 36em !important;
  margin-bottom: 2rem;
}

@media screen and (max-width: 580px) {
  .oembed {
    height: 19em !important;
  }
}

.iframe {
  height: 100% !important;
  width: 100% !important;
}
