@import './normalize.css';
@import './skeleton.css';
@import './topMenu.css';
@import './sideMenu.css';

.gif {
  width: 100%;
  margin-bottom: 1rem;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  align-items: center;
}

.logo {
  align-self: center;
  cursor: pointer;
}

.scrollmagic-pin-spacer {
  z-index: -99;
}

.freePin {
  z-index: 99;
}
