.mbMenu {
  display: none;
}

.mbLogo {
  display: none;
}

@media (max-width: 550px) {
  .mbLogo {
    display: block;
    position: absolute;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-size: cover;
    left: -5rem;
    transition: left ease 1s;
  }

  .mbLogoActive {
    left: 0;
    margin-left: 1rem;
  }

  .mbMenu {
    display: block;
    position: fixed;
    height: 100%;
    width: 80%;
    left: -90%;
    background-color: lightgray;
    transition: left ease 1s;
    box-shadow: 10px 10px 26px 0 rgba(0 0 0 0.75);
  }

  .mbMenuActive {
    left: 0;
  }

  .mbClose {
    height: 2rem;
    width: 2rem;
    float: right;
    padding: 0 1rem;
    cursor: pointer;
  }

  .mbLinks {
    font-size: 3rem;
    padding-left: 1rem;
  }
}
