@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .sideMenu {
    display: none;
  }
}

.sideMenu {
  padding-left: 2rem;
  margin-top: 1rem;
  overflow: hidden;
  height: 0;
  top: 1rem;
}

.displayMenu {
  height: 30rem;
  overflow: visible;
}

.sideLogoContainer {
  position: relative;
  left: -20rem;
  transition: left ease 1s;
}

.sideLogoContainer a {
  height: 6rem;
}

.sideLogoActive {
  left: 0;
  margin-left: 2rem;
}

.sideLogo {
  border-radius: 50%;
  background-color: black;
  background-size: cover;
}

.sideLogoMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  opacity: 0;
  transition: opacity ease 1s;
  margin-top: 1rem;
}

@media (min-width: 2500px) {
  .sideLogoMenu > a > svg {
    height: 10rem;
    width: 12rem;
  }
}

.superSide {
  margin-top: 3rem;
  left: -1rem;
}

.superSide.activeSide {
  opacity: 1;
  height: 20rem;
  color: black;
}
