.logoMenu {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 0.5rem;
  color: white;
}

@media (min-width: 2500px) {
  .logoMenu > a > svg {

  }
}

.logoContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  align-items: center;
}

.logo {
  align-self: center;
}
