.logoMenu {
  display: flex;
  flex-direction: row;
  visibility: hidden;
  position: relative;
  margin-top: 2.5rem;
  color: white;
  height: 0;
  transition: height ease 1s;
}

@media (min-width: 2500px) {
  .logoMenu > h1 {
    display: inline-block;
    padding: 1rem 2rem 0 1rem;
    font-family: 'Biryani', sans-serif;
    font-size: 5rem;
    opacity: 0;
    transition: opacity ease 1s;
  }
}

.logoMenu > h1:hover {
  color: rgb(250, 1, 176);
}

.activeTop {
  visibility: visible;
  height: 6rem;
  color: black;
}

.activeTop > h1 {
  opacity: 1;
}
